---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import type { Coach } from "../types/types";

const {
  imageUrl,
  name,
  coachingCert,
  mentality,
  years,
  ageGroup,
  bioPreview,
  completeBio,
} = Astro.props as Coach;
---

<div class="stack coach-card">
  <Image src={imageUrl} alt="test" class="coach-image" />
  <h3>{name}</h3>
  <p class="caption">{coachingCert}</p>
  <div class="mentality">
    {mentality.map((mental) => <p>{mental}</p>)}
  </div>
  <div class="badges">
    <div class="stack badge-div">
      <Icon name="shieldCheck" size={40} color="#013478" />
      <p>{years}</p>
    </div>
    <div class="stack badge-div">
      <Icon name="people" size={40} color="#013478" />
      <p>{ageGroup}</p>
    </div>
  </div>
  <div class="coach-content">
    <h3>Coach Bio</h3>
    <div class="stack bio-content">
      <p>
        {bioPreview}
      </p>
      <details class="read-more">
        <summary class="read-more-btn">Read more</summary>

        <div class="stack bio-more">
          {completeBio.map((bio) => <p>{bio}</p>)}
        </div>
      </details>
    </div>
  </div>
</div>

<style>
  .coach-card {
    padding: 20px;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 12px;
    box-shadow:
      0px 0px 0px #00000000,
      0px 2px 4px #01347814;
  }

  .coach-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .badges {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .badge-div {
    align-items: center;
    gap: 10px;
  }

  .mentality {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .bio-content {
    margin-top: 5px;
    gap: 10px;
  }

  .read-more {
    width: 100%;
  }

  /* Make summary look like a button */
  .read-more-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #013478;
    color: #013478;
  }

  /* hide default marker (Chrome/Safari) */
  .read-more-btn::-webkit-details-marker {
    display: none;
  }

  /* When open, change label */
  .read-more[open] > .read-more-btn::after {
    content: " (Read less)";
  }

  /* spacing for expanded content */
  .bio-more {
    gap: 20px;
    margin-top: 12px;
  }

  .read-more-btn:hover {
    background: #013478;
    color: #fff;
  }
</style>
